.container {
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 20px; 
  }
  
  .container > div {
    flex: 1;
    margin: 10px; 
  }
  
  .input-group {
    margin-bottom: 15px; 
  }
  
  .text-right {
    display: flex;
    padding-left: 10px;
    position: relative;
    justify-content: space-around;
    text-align: left; 
  }

  .text-rightest{
    display: flex;
    width:auto;
    justify-content: space-around;
    text-align: left;
  }
  
  button {
    margin-top: 10px;
  }
  