<!-- <div class="container">

  <div>
    <h4>Parent Component</h4>

    <p>
      To send whatever is entered in the text field to child component <br><br>

      <div class="input-group">
        Enter the Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text"
                style="border-radius: 10px; text-align: center;"
               class="form-control"
               [(ngModel)]="EnterName" />
      </div>

      <div class="input-group">
        Enter the Age: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text"
               style="border-radius: 10px; text-align: center;"
               class="form-control"
               [(ngModel)]="enterAge" />
      </div>

      <div class="input-group">
        Enter your Martial Status:
        <input type="text"
                style="border-radius: 10px; text-align: center;"
               class="form-control"
               [(ngModel)]="enterStatus" />
      </div>

      <input type="button"
              style="left:30%; justify-content: space-between; width: 100px; position: relative;"
             value="send"
             (click)="transferData()" />
  </div>

  <div class="text-right">
    <app-home
      [parentData1]="parentData1"
      [parentData2]="parentData2"
      [parentData3]="parentData3"
    ></app-home>
  </div>

  <div class="text-rightest">
    <h4>
      Received from Child
    </h4>

    <app-about (sendData)="sendData($event)"></app-about>

  </div>

  
</div>

<div>
  <p style="font-size: larger; font-weight: bold; text-align: center;">
    {{value}}
  </p>  
</div> -->
<app-pro-parent></app-pro-parent>