<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <link rel="stylesheet" href="home.component.css">
</head>
<body style="font-size: large; font-family:'Times New Roman', Times, serif; margin-left: 20px;">

    <h1 style="text-align: center;">
        Home Page
    </h1>
   
    <label class="switch">
        <input type="checkbox" id="toggle">
        <span class="slider round"></span>
    </label>
    
    <br><br>
    <div class="buttons">
        <a href="/home"><button>Home</button></a><br><br>
        <a href="/services" target="_blank"><button>Services</button></a><br><br>
        <a href="/contactus" target="_blank"><button>Contact Us</button></a><br>
    </div>

    <script src="script.js"></script> 
</body>
</html>
